<%- include('../partials/header.ejs')%>
        <main>
            <div id="content">
                <h1><%=connection.title%></h1>
                <p>Topic: <%=connection.topic%></p>
                <p>Host: <%=connection.host%></p>
                <p>Date: <%=connection.date%></p>
                <p>Start Time: <%=connection.startTime%></p>
                <p>End Time: <%=connection.endTime%></p>
                <h2>Details</h2>
                <p><%=connection.details%></p>
                <img src="<%=connection.image%>" alt="There is either no image or the URL is invalid." id="connection-img"><br><br>
                <div class="buttons">
                    <a href="/connections/<%=connection.id%>"><button type="button" id="update" formmethod="GET" formaction="/connections/<%=connection.id%>/edit">Update Event</button></a>
                    <a href="/connections/<%=connection.id%>"><button type="button" id="delete" formmethod="POST" formaction="/connections/<%=connection.id%>?_method=DELETE">Delete Event</button></a>
                </div>
            </div>
        </main>
<%- include('../partials/footer.ejs')%>