<%- include('../partials/header.ejs')%>
            <div id="connection-list">
                <% if (connections.length) { %>
                <ul id="categories">
                    <li><h1>Galactic Republic Lore Discussions</h1>
                        <ul>
                            <% connections.forEach(connection => { %>
                                <% if(connection.topic == "Galactic Republic Lore") { %>
                                    <a href="/connections/<%=connection.id%>"><li class="connect-link"><%=connection.title%></li></a>
                                <% }
                                }); %>
                        </ul>
                    </li>
                    <li><h1>Sith Lore</h1>
                        <ul>
                            <% connections.forEach(connection => { %>
                                <% if(connection.topic == "Sith Lore") { %>
                                    <a href="/connections/<%=connection.id%>"><li class="connect-link"><%=connection.title%></li></a>
                                <% }
                                }); %>
                        </ul>
                    </li>
                </ul>
                <% } else { %>
                    <p>There are no connections currently planned.</p>
                <% }; %>
            </div>
        </main>
<%- include('../partials/footer.ejs')%>